.login-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: scroll;
  background-color: var(--color-primary);
}

.login-wrapper .back-button {
  position: absolute;
  color: white;
  left: 3%;
  top: 4%;
}

.login-wrapper .back-button .link-button, .login-wrapper .back-button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-text-emphasis: none;
          text-emphasis: none;
  text-decoration: none;
  cursor: pointer;
}

.login-wrapper .back-button .link-button span, .login-wrapper .back-button button span {
  color: white;
  margin-left: 1rem;
}

.login-wrapper .container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.login-wrapper .container .logo-name {
  margin-top: 25%;
}

.login-wrapper .container .logo-name img {
  width: 20rem;
}

.login-wrapper .container .login-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  height: 36rem;
  margin-top: 10%;
  margin-bottom: 20%;
  padding: 0 7%;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  background-color: var(--color-card);
}

.login-wrapper .container .login-card .title {
  margin-top: 2rem;
  margin-bottom: 2.3rem;
  font: var(--text-font-login-title);
  color: var(--color-card-text-title);
}

.login-wrapper .container .login-card .input-block {
  width: 100%;
  height: auto;
}

.login-wrapper .container .login-card .input-block .input-box {
  position: relative;
  margin-top: 1rem;
}

.login-wrapper .container .login-card .input-block .input-box img {
  position: absolute;
  height: 2rem;
  top: 50%;
  left: 0.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.login-wrapper .container .login-card .input-block .input-box input {
  background-color: rgba(196, 196, 196, 0.53);
  width: 100%;
  height: 3rem;
  padding-left: 3rem;
  border: none;
}

.login-wrapper .container .login-card .input-block .input-box .password {
  -webkit-text-security: disc;
}

.login-wrapper .container .login-card .input-block .input-box:first-child {
  margin-top: 0;
}

.login-wrapper .container .login-card .login-button {
  width: 100%;
  height: 3.5rem;
  margin-top: 2rem;
}

.login-wrapper .container .login-card .login-button button {
  width: 100%;
  height: 100%;
  font: var(--text-font-login-button);
}

.login-wrapper .container .login-card span#or-login-with {
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  color: var(--color-card-text-paragrath-lighter);
  font: var(--text-font-login-paragrath);
}

.login-wrapper .container .login-card .diferent-providers-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10%;
}

.login-wrapper .container .login-card .diferent-providers-block button {
  background: transparent;
  border: 1px solid #c4c4c4;
  height: 2.8rem;
  width: 47%;
  color: #747474;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-wrapper .container .login-card .diferent-providers-block button img {
  height: 100%;
}

.login-wrapper .container .login-card .diferent-providers-block .facebook-button .facebook-button-name-logo {
  height: 60%;
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
}

.login-wrapper .container .login-card .diferent-providers-block .google-button img {
  height: 60%;
}

.login-wrapper .container .login-card .diferent-providers-block .google-button span {
  margin-left: 1rem;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 100%;
  color: #747474;
}
